<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Page Not Found</title>

    <link th:href="@{/css/error-style.css}" type="text/css" rel="stylesheet" href="../../static/css/error-style.css"/>

</head>
<body>
<div class="container">
    <h1>Not found <span>:(</span></h1>
    <p>Sorry, but the page you were trying to view does not exist.</p>
    <p>It looks like this was the result of either:</p>
    <ul>
        <li>a mistyped address</li>
        <li>an out-of-date link</li>
    </ul>
</div>
</body>
</html>
