<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Server Error</title>

    <link th:href="@{/css/error-style.css}" type="text/css" rel="stylesheet" href="../../static/css/error-style.css"/>

</head>
<body>
<div class="container">
    <h1>Server Error</h1>
    <p>Unfortunately, there was an error with the server that prevented this page from being displayed.</p>

   <p>You can try following:</p>
    <ul>
        <li>return to this page later</li>
        <li>browse different pages out of here</li>
    </ul>
</div>
</body>
</html>